.cityBlocks {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 30px;
  gap: 10px;
}

.cityLable {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 100%;
  min-height: 70px;
  max-height: 86px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: var(--textСolor);
  padding: 26px 30px;
  text-align: left;
  transition: all .5s;
  cursor: pointer;
}

.cityLable span {
  padding-right: 38px;
  word-break: break-all;
}

.cityLable::after {
  content: "";
  position: absolute;
  width: 11px;
  height: 15px;
  right: 28px;
  opacity: 0;
  background: url('../../styles/img/svg/_iconRight.svg') center no-repeat;
  transition: all .5s;
}

.cityLable:hover::after {
  opacity: 1;
}

.cityLable:hover {
  background-color: var(--lightGray);
}

@media (max-width: 1440px) {
  .cityLable::after {
    right: 36px;
  }

  .cityLable span {
    padding-right: calc(20px + (38 - 20) * ((100vw - 834px) / (1440 - 834)));
  }
}

@media (max-width: 834px) {
  .cityLable span {
    padding-right: 20px;
  }
}
